{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = 'Assets' %}

{% set crumbs = [
  { label: 'Assets'|t, url: url('gravy') },
] %}

{% do view.registerAssetBundle("crystal\\gravy\\assets\\Bundle") %}

{% set thumb = {
    mode: 'crop',
    width: 50,
    height: 50,
    quality: 75,
    position: 'center'
} %}

{% set content %}

  {% for volume in craft.gravy.volumes %}
    {% set folders = craft.gravy.assets(volume.handle) | group('folderId') %}

    <h1>{{volume.name}}</h1>

    {% for folder, group in folders %}
      {% if folders | length > 1 %}
        <h2>{{ craft.gravy.folder(folder) }}</h2>
      {% endif %}

      <div class="folder">
        {% for asset in group %}
          <div class="col">
            <div class="asset">
              {% if asset.kind == 'image' %}
                <img src="{{asset.url(thumb)}}" alt="" class="asset-img">
              {% else %}
                <div class="asset-img"></div>
              {% endif %}
              <div>
                <div>{{asset}}</div>
                <div class="filename">{{asset.filename}}</div>
              </div>
            </div>
          </div>
          
          {# <td>{{asset.folder}}</td> #}
          {# <td>{{craft.entries.relatedTo(asset) | length}}</td> #}
          {# <td>
            <form action="">
              <input type="hidden" name="assetId" value="{{ asset.id }}" />
              <input type="button" class="btn small formsubmit" value="X" data-action="gravy/assets/delete"
                data-confirm="Are you sure you want to delete {{ asset }}?"
                data-redirect="{{ ('gravy/assets/') | hash }}">
            </form>
          </td> #}

        {% endfor %}
      </div>
    {% endfor %}
    <hr>
  {% endfor %}

{% endset %}
