.col {
  /* background-color: red; */
  width: 33.333333%;
  padding-bottom: 6px;
  /* padding: 3px; */
}

.asset {
  border: 1px solid #e3e5e8;
  box-sizing: border-box;
  padding: 5px;
  margin: 0 3px;
  border-radius: 4px;
  height: 100%;
  display: flex;
  /* margin: 3px; */
}

.folder {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3px;
  margin-right: -3px;
}

.filename {
  font-size: 0.8em;
  color: #aaa;
}

.asset-img {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  border: 1px solid #e3e5e8;
  border-radius: 2px;
}
